syntax:glob

*.egg-info
*.pot
*.py[co]
*.orig
__pycache__
MANIFEST
docs/_build/
docs/locale/
node_modules/
tests/coverage_html/
tests/.coverage
build/
tests/report/
.idea/*
temp.pdf
media
.DS_Store
certs/
env*/
venv*/
.venv*/
dev_media/
instance.txt
control/.env
/TestsCreditinalsForATOL.docx
/static/
/celerybeat.pid
/celerybeat-schedule
.pytest-queries
.coverage
/temp.pdf
.pytest_cache/*
.coverage.*
*.mo

